*{
    margin:0;
    border: 0;
}

#lower{
    height: 45px;
    border-radius: 45px;
    border: none;
    color: white;
    background-color: burlywood;
}
#upper{
    height: 45px;
    border-radius: 45px;
    border: none;
    color: white;
    background-color: chartreuse;
}
#number{
    height: 45px;
    border-radius: 45px;
    border: none;
    color: white;
    background-color: crimson;
}
#special{
    height: 45px;
    border-radius: 45px;
    border: none;
    color: white;
    background-color: darkcyan;
}
#generate{
    height: 45px;
    width: 150px;
    border-radius: 45px;
    border: none;
    color: white;
    background-color: deepskyblue;
}
.cont{
    display: flex;
    
    align-items: center;
}